<%- include("partials/header.ejs") %>

<body class="tools">
  <main class="container mb-4">
    <div>
      <div class="container">
        <header class="border-bottom lh-1 py-3 mb-3">
          <div
            class="row flex-lg-nowrap justify-content-center justify-content-lg-start align-items-center"
          >
            <div class="col-12 col-lg-2 d-flex justify-content-center">
              <a href="/"><img src="/images/logomark.png" width="180px" /></a>
            </div>
            <div class="col-md-10 d-none d-lg-block">
              <strong class="ms-4 fs-5 p-0"> Creator's Tools </strong>
            </div>
          </div>
        </header>
      </div>
      <div class="row">
        <div class="col-12 mb-4">
          <strong class="mb-4 fs-5 p-0 d-lg-none"> Creator's Tools </strong>
        </div>
        <div class="col-12">
          <div class="d-grid mb-4">
            <a class="btn btn-light p-3" href="/tools/add" type="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                viewBox="0 0 512 512"
                fill="currentColor"
              >
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
                />
              </svg>
              &nbsp;<strong>Add a Blog</strong></a
            >
          </div>
        </div>
      </div>

      <div class="row g-5">
        <div class="col">
          <div class="d-lg-flex justify-content-start flex-lg-wrap gap-4">
            <% for (let i = 0; i < blogs.length; i++) { %>
            <div class="card blog mb-4 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title"><%= blogs[i].title %></h5>
                <h6 class="card-subtitle mb-3 text-body-secondary fs-6">
                  <%= blogs[i].date %> by <%= blogs[i].author %>
                </h6>
                <p class="card-text">
                  <%- blogs[i].content.slice(0, 180) + "..." %>
                </p>
                <div class="d-flex justify-content-end align-items-center">
                  <a
                    href="/tools/<%= blogs[i].id %>"
                    class="icon-link gap-1 icon-link-hover fw-bold me-4"
                    id="editButton"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      fill="currentColor"
                      viewBox="0 0 512 512"
                    >
                      <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                      <path
                        d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"
                      />
                    </svg>
                    Edit
                  </a>
                  <a
                    class="icon-link gap-1 icon-link-hover fw-bold me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                    data-bs-id="<%= blogs[i].id %>"
                    data-bs-title="<%= blogs[i].title %>"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      fill="currentColor"
                      viewBox="0 0 448 512"
                    >
                      <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                      <path
                        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                      />
                    </svg>
                    Delete
                  </a>

                  <div
                    class="modal fade"
                    id="deleteModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">
                            Confirm
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>

                        <div class="modal-body"></div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-light"
                            data-bs-dismiss="modal"
                          >
                            Cancel
                          </button>
                          <form id="deleteForm">
                            <input class="blogId" name="blogId" type="hidden" />
                            <button type="submit" class="btn btn-danger">
                              Delete
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <script>
                    var deleteModal = $("#deleteModal");
                    if (deleteModal) {
                      deleteModal.on("show.bs.modal", (event) => {
                        const button = event.relatedTarget;

                        const id = button.getAttribute("data-bs-id");
                        const title = button.getAttribute("data-bs-title");

                        const modalBody = $("#deleteModal .modal-body");
                        const idtoDelete = $("#deleteModal .blogId");

                        modalBody.html(`This will permanently delete the blog
                        <strong>"${title}</strong>." You cannot
                        undo this action.<br/><br/>Are you sure you want to delete this
                        blog?`);

                        idtoDelete.attr("value", `${id}`);
                      });
                    }
                  </script>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </main>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <script>
    function handleDelete(event) {
      event.preventDefault();

      const data = new FormData(event.target);

      const id = data.get("blogId");

      console.log({ id });

      const options = {
        method: "DELETE",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ id }),
        redirect: "follow",
      };

      fetch("/tools/delete", options).then((response) => {
        if (response.redirected) {
          window.location.replace(response.url);
          // creates the second request, and change the content
          return;
        }
      });
    }

    $("#deleteForm").on("submit", handleDelete);
  </script>
</body>
